<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prescriptions for {{ d }}</title>
</head>
<body>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="container">
<h1>Recommended prescriptions</h1>
	<form method="post" >
	   {% csrf_token %}
	   {% bootstrap_form form %}
	  		{% buttons %}
	    		<button type="submit" value="Submit to Database" class="btn btn-primary">
	      			{% bootstrap_icon "star" %} Submit
	    		</button>		
	        {% endbuttons %}
	</form>
</div>
</body>
</html>
